@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

body {
  color: #222;
  font: 18px/1.555555555 Merriweather, serif;
  margin: 2em auto;
  width: 90%;
  max-width: 40em;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  color: #19A3FF;
  text-decoration: none;
  
  &:hover {
    color: #47B5FF;
  }
}

h1,
h2,
h3,
h4 {
  text-rendering: optimizeLegibility;
}

.post-title {
  font-size: 3.157em;
  margin: 1em 0 0;
}

.post-subtitle {
  font-size: 1.777em;
  font-style: italic;
  margin: 0;
}

.post-meta {
  font-size: 0.777em;
  margin: 2em 0 3.5em;
}

.post-intro {
  font-size: 1.222em;
}

.post-footer {
  font-size: 0.75em;
  padding: 2em 0;
}

.post-category {
  float: left;
}

.comments-link {
  float: right;
  margin: 0;
}

.post-tags,
.post-tags li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-tags li:after {
  content: ",";
}

.post-tags li:last-child:after {
  content: "";
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.75em;
  font-style: italic;
  line-height: 2em;
  text-align: center;
}