<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ice and Fire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">

	<link rel="stylesheet" href="css/style.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<nav id="colorlib-main-nav" role="navigation">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
		<div class="js-fullheight colorlib-table">
			<div class="colorlib-table-cell js-fullheight">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="form-group">
							<input type="text" class="form-control" id="search" placeholder="Enter any key to search...">
							<button type="submit" class="btn btn-primary"><i class="icon-search3"></i></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<ul>
							<li ><a href="index.php">Acceuil</a></li>
							<li><a href="menu.html">Menu</a></li>
							<li><a href="reclamation.php">Réclamation</a></li>
							<li><a href="temoignage.php">Qu'en-pensez-vous?</a></li>
						     <li><a href="livraison.php">Livraison</a></li>
						     <li ><a href="reservation.php">Réservation</a></li>
                             <li ><a href="evenements.html">Evénements</a></li>
                             <li class="active"><a href="blog.html">Blog</a></li>
                             <li><a href="contact.php">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	
	<div id="colorlib-page">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="colorlib-navbar-brand">
							<a class="colorlib-logo" href="index.html"><i class="flaticon-cutlery"></i><span>ICE&</span><span>FIRE</span></a>
						</div>
						<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
					</div>
				</div>
			</div>
		</header>
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/3.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<div class="desc">
				   						<span class="icon"><i class="flaticon-cutlery"></i></span>
					   					<h1>CheeseCake spécial</h1>
					   					<p>Biscuit croquant, fromage crémeux, dessert si frais en plein été : difficile de résister à l’ambivalence du cheesecake.</p>
					   					<p><a href="http://localhost/version/views/reservation.php" class="btn btn-primary btn-lg btn-learn">Reservez</a></p>
					   					<div class="desc2"></div>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(images/g.jpeg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<div class="desc">
				   						<span class="icon"><i class="flaticon-cutlery"></i></span>
					   					<h1>Des Fresh gaufres</h1>
					   					<p>Vousne pouvez pas résister face à une délicieuse gaufre au nutella</p>
					   					<p><a href="http://localhost/version/views/reservation.php"class="btn btn-primary btn-lg btn-learn">Reservez</a></p>
					   					<div class="desc2"></div>
					   				</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(images/8.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<div class="desc">
				   						<span class="icon"><i class="flaticon-cutlery"></i></span>
					   					<h1>Les pancakes les plus délicieux</h1>
					   					<p>En cadeau gourmand ou comme SOS pancakes d’un petit déjeuner ou goûter amélioré durant le vacances, il est bien agréable d’avoir un bocal toujours prêt.</p>
					   					<p><a href="http://localhost/version/views/reservation.php"class="btn btn-primary btn-lg btn-learn">Reservez</a></p>
					   					<div class="desc2"></div>
					   				</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(images/4.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<div class="desc">
				   						<span class="icon"><i class="flaticon-cutlery"></i></span>
					   					<h1>Crêpes spéciales</h1>
					   					<p>Trop de crêpes, trop d'étoffes noires, la tristesse est à l'extérieur..</p>
					   					<p><a href="http://localhost/version/views/reservation.php" class="btn btn-primary btn-lg btn-learn">Reservez</a></p>
					   					<div class="desc2"></div>
					   				</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>	
			  	</ul>
			  	<div class="mouse">
				   <a href="#" class="mouse-icon">
				   	<div class="mouse-wheel"></div>
				   </a>
				</div>
		  	</div>
		</aside>

		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 text-center">
						<div class="intro animate-box">
							<span class="icon">
								<i class="icon-map4"></i>
							</span>
							<h2>Addresse</h2>
							<p>La corniche , Bizerte (à côté du café Maalouf)</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 text-center">
						<div class="intro animate-box">
							<span class="icon">
								<i class="icon-clock4"></i>
							</span>
							<h2>Ouverte à</h2>
							<p>Lundi - Dimanche</p>
							<span>14am - 00pm</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 text-center">
						<div class="intro animate-box">
							<span class="icon">
								<i class="icon-mobile2"></i>
							</span>
							<h2>téléphone</h2>
				            <p>+216 21 589 987</p>
				            <p>+216 22 234 567</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 text-center">
						<div class="intro animate-box">
							<span class="icon">
								<i class="icon-envelope"></i>
							</span>
							<h2>Email</h2>
							<p><a href="#">info@domain.com</a><br><a href="#">iceandfire@email.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center animate-box intro-heading">
						<h2>Lisez notre BLOG</h2>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<article class="article-entry">
							<a href="blog.html" class="blog-img" style="background-image: url(images/blog9.jpg);"></a>
							<div class="desc">
								<p class="meta"><span class="day">20</span><span class="month">Janvier</span></p>
								<p class="admin"><span>Posté par:</span> <span>Nourhene mehdi</span></p>
								<h2><a href="blog.html">Travail en équipe</a></h2>
								<p>Aussi, le travail pouvant être accompli par une personne seule, même s'il peut être conséquent, reste limité.C'est pourquoi on a choisi de travailler en équipe </p>
						</article>
					</div>
					<div class="col-md-4">
						<article class="article-entry">

							     

							<a href="blog.html" class="blog-img" style="background-image: url(images/bb.jpg); "></a>
							<div class="desc">
								<p class="meta"><span class="day">21</span><span class="month">Janvier</span></p>
								<p class="admin"><span>Posté par:</span> <span>Nourhene Mehdi</span></p>
								<h2><a href="blog.html">Agréable décoration murale</a></h2>
								<p>Il s’agit souvent d’une activité de création à la croisée de l’art et la technique. On s’attardera sur les lignes, les formes et les couleurs contemporaines. Découvrez le désign de ICE and FIRE </p>

							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="article-entry">
							<a href="blog.html" class="blog-img" style="background-image: url(images/bl.jpg);"></a>
							<div class="desc">
								<p class="meta"><span class="day">22</span><span class="month">Janvier</span></p>
								<p class="admin"><span>Posté:</span> <span>Nourhene Mehdi</span></p>
								<h2><a href="blog.html">Le goût du Nutella</a></h2>
								<p>Les 5 petits secrets du Nutella :
									le sucre utilisé dans le Nutella provient de betteraves Françaises,
                                    le lait est acheté en France et en Belgique,
                                   l’huile est acheminée depuis la Malaisie,
                                   le cacao est issu de Côte d’Ivoire, du Ghana et du Nigeria,
                                   les noisettes proviennent de Turquie.</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="article-entry">
							<a href="blog.html" class="blog-img" style="background-image: url(images/blog7.jpg);"></a>
							<div class="desc">
								<p class="meta"><span class="day">6</span><span class="month">Février</span></p>
								<p class="admin"><span>Posté par:</span> <span>Nourhene Mehdi</span></p>
								<h2><a href="blog.html">Interview</a></h2>
								<p>Un interview inoubliable avec Monsieur Haythem Kharbech , si vous voulez le contactez vous trouvez ci joint son contact</p>
								<div class="col-md-12 animate-box text-center">
							<p><a href="http://localhost/version/views/contact.php" class="btn btn-primary btn-outline btn-md">Contactez</a></p>
						</div>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="article-entry">
							<a href="blog.html" class="blog-img" style="background-image: url(images/vu.jpg);"></a>
							<div class="desc">
								<p class="meta"><span class="day">7</span><span class="month">Février</span></p>
								<p class="admin"><span>Posté par:</span> <span>Nourhene Mehdi</span></p>
								<h2><a href="blog.html">Une vue agréable</a></h2>
								<p>La mer est splendide. Elle me procure une sensation de calme
								   Pour moi cela m'inspire car: la mer et le ciel représente la vie , l'espoir mais aussi les vacances</p>
							</div>
						</article>
					</div>
					<div class="col-md-4">
						<article class="article-entry">
							<a href="blog.html" class="blog-img" style="background-image: url(images/blog6.jpg);"></a>
							<div class="desc">
								<p class="meta"><span class="day">8</span><span class="month">Février</span></p>
								<p class="admin"><span>Posté par:</span> <span>Nourhene Mehdi</span></p>
								<h2><a href="blog.html">Comment faire une pâte à crêpes ?</a></h2>
								<p>Vous voulez faire des crêpes à vos enfants mais vous ne savez pas comment faire ? Vous avez plusieurs recettes de crêpes mais vous avez peur de les rater ?
                              Retrouvez les meilleures explications pour faire de délicieuses crêpes facilement à la maison chez ICE and FIRE !

                            </p>
                           </div>
						</article>
					</div>
				</div>
			</div>
		</div>

		

				 <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-pb-sm">
                            <h2>Haythem kharbech</h2>
                            <p>je suis le fondateur de ICE&FIRE , soyez le bienvenue</p>
                            <p class="colorlib-social-icons">
                                <a href="#"><i class="icon-facebook4"></i></a>
                                <a href="#"><i class="icon-twitter3"></i></a>
                                <a href="#"><i class="icon-googleplus"></i></a>
                                <a href="#"><i class="icon-dribbble2"></i></a>
                            </p>
                        </div>
                        <div class="col-md-3 col-pb-sm">
                            <h2>Dérnier Blog</h2>
                            <div class="f-entry">
                                <a href="#" class="featured-img" style="background-image: url(images/drink-9.jpg);"></a>
                                <div class="desc">
                                    <span>Le 5 mai, 2018</span>
                                    <h3><a href="#">Comment faire les jus</h3>
                                </div>
                            </div>
                            <div class="f-entry">
                                <a href="#" class="featured-img" style="background-image: url(images/drink-6.jpg);"></a>
                                <div class="desc">
                                    <span>Le 5 mai, 2018</span>
                                    <h3><a href="#">Des jus frais </a></h3>
                                </div>
                            </div>
                            <div class="f-entry">
                                <a href="#" class="featured-img" style="background-image: url(images/dessert-7.jpg);"></a>
                                <div class="desc">
                                    <span>le 5 mai, 2018</span>
                                    <h3><a href="#">Une recette spéciale</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-pb-sm">
                            <h2>Instagram</h2>
                            <div class="instagram">
                                <a href="#" class="insta-img" style="background-image: url(images/dessert-6.jpg);"></a>
                                <a href="#" class="insta-img" style="background-image: url(images/dessert-7.jpg);"></a>
                                <a href="#" class="insta-img" style="background-image: url(images/drink-6.jpg);"></a>
                                <a href="#" class="insta-img" style="background-image: url(images/drink-9.jpg);"></a>
                            </div>
                        </div>
                        
                                
        </footer>
    
    </div>



	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>

	</body>
</html>

